{% extends 'albums/base.html' %}
{% block content %}
    <div class="container">
        <!---<h1>アルバム</h1>-->
        <a class="btn btn-primary" href="./create" role="button" style="margin:10px 0px">+アルバム追加</a>

        <table class="table table-striped">
          <thead class="thead-dark">
            <tr>
              <th>タイトル</th>
              <th>photo数</th>
              <th>最終更新</th>
              <th>修正</th>
            </tr>
          </thead>
          <tbody>
            {% for alb in object_list %}
            <tr>
                <td><a href={% url "albums:photo" alb.id %}>{{ alb.title }}</a></td>
                <td>{{ alb.photo_num }}</td>
                <td>{{ alb.last_finality|date:"Y/m/d G:i:s" }}</td>
                <td><a href={% url "albums:album_update" alb.id %}>変更</a></td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
    </div>
{% endblock %}
