{% extends 'albums/base_photo.html' %}
{% block content %}
    <div class="container">
        <div class="jumbotron">
            <div class="container-fluid">
                <h1 style="border-bottom: solid 3px black;">{{ title }}</h1>
                <a class="btn btn-primary btn-lg" href={% url "albums:album" %} role="button">アルバム一覧 »</a>
            </div>
        </div>
        
        {% for message in messages %}
        <div class="alert {{ message.tags }} alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
        {% endfor %}

        <form method="POST" action={% url "albums:photoadd" album_id %} enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label for="input">投稿する画像(複数可)</label>
                <input name="files" type="file" size="50" accept="image/*" multiple>
                <!-- <p class="text-primary">※枚数か容量が大きいと時間がかかります。</p> -->
            </div>
            <div class="form-group">
                <label for="InputEditor">投稿者</label>
                <input type="text" class="form-control" name="editor" placeholder="氏名" maxlength="20">
            </div>
            <button class="btn btn-primary" type="submit">アップロード</button>
        </form>
    </div>

    <div class="container">
        <div class="main_area">
            <div class="imageAll">
                {% for photo in object_list %}
                <div class="imageBox_{{ forloop.counter|divisibleby:'4' |yesno:'last,unit' }} box_{{ forloop.counter0|divisibleby:'2' |yesno:'left,right,left' }}">
                    <p class="image">
                        <a href="{{ top_path }}{{ photo.origin }}" data-size="{{ photo.width }}x{{ photo.height }}" class="swipe" rel="group1" title="投稿者:{{ photo.editor }}">
                            <img src="{{ top_path }}{{ photo.thumbnail }}" alt="サムネイル" />
                            <!-- <figcaption>{{ photo.created }}</figcaption> -->
                        </a>
                    </p>
                </div>
                {% endfor %}
            </div>
        </div>

        <a class="btn btn-danger" href={% url "albums:del_list" album_id %} role="button">投稿済み画像削除</a>
    </div>

    <style>
    label {
        background: #e9ecef;
        padding: 10px 30px;
        border-radius: 10px;
        display: inline-block;
        position: relative;
    }

    button{
        margin-bottom: 30px;
    }

    .btn{
        margin-bottom: 30px;
    }
    </style>
{% endblock %}
